body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .homepage {
    padding-top: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
  }

  .image-section {
    background-image: url('../src/images/presentationimage-1.png');
    background-size: cover;
    background-position: center;
    height: 45%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
  }
  
  .image-section img {
    display: none;
  }

  .large-text {
    font-family: 'Poppins';
    font-size: 96px;
    color: rgba(255, 255, 255, 0.17);
  }

  .small-text {
    font-family: 'Poppins';
    font-size: 48px; 
    color: rgba(231, 129, 10, 1); 
    position: relative;
    bottom: 80px;
  }

  .text-container {
    text-align: center;
  }
  