.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.backgroundImage {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 49.7%, #000 50%), url('../src/presentationImage.png');
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.textStyleBack {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: rgba(255, 255, 255, 0.17);
  font-size: 96px;
  letter-spacing: 3px;
  white-space: nowrap;
  font-family: 'Poppins';
}

.textStyleFront {
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: rgba(231, 129, 10, 1);
  font-size: 40px;
  letter-spacing: 3px;
  white-space: nowrap;
  font-family: 'Poppins';
}

.rectangleLeft {
  width: 308px; /* Adjust the width as needed */
  height: 168px; /* Adjust the height as needed */
  background-color: rgba(217, 217, 217, 0); /* Set the background color */
  border: 3px solid rgba(231, 129, 10, 1);
  margin: 20%; /* Center the rectangle horizontally */
  margin-top: 480px; /* Adjust the top margin as needed */
  z-index: 2;
}

.rectangleRight {
  width: 308px; /* Adjust the width as needed */
  height: 168px; /* Adjust the height as needed */
  background-color: rgba(217, 217, 217, 0); /* Set the background color */
  border: 3px solid rgba(231, 129, 10, 1);
  margin: 60%; /* Center the rectangle horizontally */
  margin-top: -31%; /* Adjust the top margin as needed */
  z-index: 2;
}
