@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
}

.header {
  padding: 0 45px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 55px;
  z-index: 1;
}

.header li img {
  width: 30px;
  height: 30px;
}

.header img {
  width: 90px;
  height: auto;
}

.left-container {
  position: absolute;
  display: flex;
  left: 0;
  align-items: center;
  padding: 0;
}

.middle-container {
  position: absolute;
  left: 50%;
  top: 3.5%;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0;
  transform: translate(-50%, -50%);
}

.middle-container:hover{
  color: #e7810a;
  text-decoration: none;
}

.right-container {
  position: absolute;
  left: 92%;
  display: flex;
  align-items: center;
  padding: 0; 
}

.nav {
  list-style: none;
  display: flex;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav li {
  padding: 0 50px;
  margin-right: 0;
}

.nav a:hover {
  color: #e7810a;
}

.title {
  font-family: 'Poppins';
  font-size: 24px;
  margin-left: -10px;
  margin-top: 7px;
}

.button {
  font-family: 'Poppins';
  font-size: 20px;
}

.rectangle {
  border: 3px solid;
  border-color: #e7810a;
  height: 168px;
  left: 60%;
  position: absolute;
  top: 68%;
  width: 308px;
}

.rectangle-2 {
  border: 3px solid;
  border-color: #e7810a;
  height: 168px;
  left: 20%;
  position: absolute;
  top: 68%;
  width: 308px;
}

.left-button {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 29%;
  top: 92%;
}

.right-button {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 62%;
  top: 92%;

}

.left-button:hover {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.right-button:hover {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.left-image {
  height: 166px;
  left: 22%;
  object-fit: cover;
  position: absolute;
  top: 70%;
  width: 308px;
  z-index: 2;
}

.right-image {
  height: 166px;
  left: 58%;
  object-fit: cover;
  position: absolute;
  top: 70%;
  width: 308px;
  z-index: 2;
}