@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
}

.header {
  padding: 0 45px;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 55px;
}

.header li img {
  width: 30px;
  height: 30px;
}

.header img {
  width: 90px;
  height: auto;
}

.left-container {
  position: absolute;
  display: flex;
  left: 0;
  align-items: center;
  padding: 0;
}

.middle-container {
  position: absolute;
  left: 50%;
  top: 3.5%;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0;
  transform: translate(-50%, -50%);
}

.right-container {
  position: absolute;
  left: 92%;
  display: flex;
  align-items: center;
  padding: 0; 
}

.nav {
  list-style: none;
  display: flex;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav li {
  padding: 0 50px;
  margin-right: 0;
}

.nav a:hover {
  color: rgba(0,0,0,0.3);
}

.title {
  font-family: 'Poppins';
  font-size: 24px;
  margin-left: -10px;
  margin-top: 7px;
}

.button {
  font-family: 'Poppins';
  font-size: 20px;
}