.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3); /* Transparent background color */
    padding: 10px 30px;
    height: 50px;
  }
  
  .navbarContainer {
    position: absolute;
    display: flex;
    align-items: center;
  }

  .leftContent {
    display: flex;
    align-items: center;
  }
  
  .navbarLogo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  
  .navbarTitle {
    margin: 10px;
    color: white;
    font-size: 20px;
    margin-right: 290px;
    font-family: Arial;
  }
  
  .navbarLinks {
    display: flex;
    align-items: center;
  }

  .navbarButtons a {
    text-decoration: none;
    color: white;
    margin-inline-start: 90px;
  }

  .navbarAccount {
    margin-left: 570px;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s;
  }

  .navbarAccount:hover {
    background-color: #f0f0f0;
  }



  