@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.restaurantListItems{
    width:500px;
    height: 58px;
    display: flex;
    justify-content: left;
    align-items:center;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    border:1px solid;
    border-color: #585858;
    list-style: none;
    margin-bottom: -10px;
    margin-left: -30px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 30px;
    color: white;
    position: relative;
}
.restaurantListItems:hover{
    width:500px;
    height: 58px;
    display: flex;
    justify-content: left;
    align-items:center;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    border:1px solid;
    border-color: #585858;
    list-style: none;
    margin-bottom:-10px;
    margin-left: -30px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 30px;
    color: #e7810a;
    position: relative;


}

.restaurantListItemArrow
{
    position: absolute;
    color:#585858;
    margin-left: 400px;
    font-size: 35px;
}

.restaurantListItems:hover .restaurantListItemArrow {
    color: #e7810a;
}

.optionsListOuterBorder{
    top:283px;
    left: 107px;
    width: 636px;
    height: 673px;
    border: 3px solid;
    border-color: #e7810a;
    position:absolute;
}

.optionsListInnerBorder{
    top:298px;
    left:121px;
    width: 572px;
    height: 643px;
    border: 1px solid;
    border-color: black;
    position: absolute;
}

.optionListItem{
    border:1px solid;
    border-color: white;
    list-style: none;
    margin-bottom:10px;
    margin-left: -30px;
    margin-right: 10px;
    margin-top: 10px;
}
.restaurantNameOuterBorder{
    top:97px;
    left:950px;
    width:340px;
    height:54px;
    border:3px solid;
    border-color:#e7810a;
    position:absolute;
}
.restaurantNameInnerBorder
{
    top:112px;
    left:964.21px;
    width:311.58px;
    height:56px;
    border:1px solid;
    border-color:#585858;
    position:absolute;
    font-family: Poppins,sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white ;
    background-color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.restaurantDescriptionOuterBorder
{
    top: 234px;
    left: 950px;
    width: 308px;
    height: 168px;
    border: 3px solid;
    border-color: #e7810a;
    position: absolute;
}

.restaurantDescriptionInnerBorder
{
    top: 252px;
    left:968px;
    width: 308px;
    height: 168px;
    border: 1px solid;
    border-color: #585858;
    position: absolute;
    font-family: Poppins,sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white ;
    background-color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.restaurantPhotoOuterBorder
{
    top: 481px;
    left: 982px;
    width: 308px;
    height: 168px;
    border: 3px solid;
    border-color: #e7810a;
    position: absolute;
}

.restaurantPhotoInnerBorder{
    top: 499px;
    left: 968px;
    width: 308px;
    height: 168px;
    border: 1px solid;
    border-color: #585858;
    position: absolute;
}

.restaurantPhotoStyle
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.goToMenuButtonOuterBorder
{
    top: 745px;
    left: 950px;
    width: 340px;
    height: 54px;
    border: 3px solid;
    border-color: #e7810a;
    position: absolute;
}

.goToMenuButtonInnerBorder
{
    top: 730px;
    left: 964px;
    width: 311px;
    height: 56px;
    border: 1px solid;
    border-color: #585858;
    position: absolute;
    background-color: black;
    color:white;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.goToMenuButtonInnerBorder:hover
{
    top: 730px;
    left: 964px;
    width: 311px;
    height: 56px;
    border: 1px solid;
    border-color: #585858;
    position: absolute;
    background-color: black;
    color:#e7810a;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.adBorder
{
    top: 856px;
    left: 950px;
    width: 340px;
    height: 75px;
    border: 3px solid #e7810a ;
    position: absolute;
}

.adStyle
{
    width:100%;
    height:100%;
    object-fit:cover;
}

.filterBarOuterBorder
{
    width:660px;
    height:54px;
    top:97px;
    left:90px;
    position:absolute;
    border:3px solid #e7810a
}
.searchBarOuterBorder
{
width:660px;
    height:54px;
    top:210px;
    left:90px;
    position:absolute;
    border:3px solid #e7810a;

}

